/.quarto/
**/*.quarto_ipynb
.Rproj.user
bahiaconfital.Rproj

/_site/

resultados/data/canteras_microbiome/*
!resultados/data/canteras_microbiome/dada2_canteras_16s
!resultados/data/canteras_microbiome/dada2_canteras_18s
resultados/data/canteras_microbiome/dada2_canteras_16s/*
resultados/data/canteras_microbiome/dada2_canteras_18s/*
!resultados/data/canteras_microbiome/dada2_canteras_16s/data
!resultados/data/canteras_microbiome/dada2_canteras_18s/data
resultados/data/canteras_microbiome/dada2_canteras_16s/data/*
resultados/data/canteras_microbiome/dada2_canteras_18s/data/*
!resultados/data/canteras_microbiome/dada2_canteras_16s/data/dada2
!resultados/data/canteras_microbiome/dada2_canteras_18s/data/dada2
resultados/data/canteras_microbiome/dada2_canteras_16s/data/dada2/*
resultados/data/canteras_microbiome/dada2_canteras_18s/data/dada2/*
!resultados/data/canteras_microbiome/dada2_canteras_16s/data/dada2/04_decontam-and-filter
!resultados/data/canteras_microbiome/dada2_canteras_18s/data/dada2/04_decontam-and-filter
