/.quarto/
**/*.quarto_ipynb
.Rproj.user
bahiaconfital.Rproj

data/canteras_microbiome/*
!data/canteras_microbiome/dada2_canteras_16s
!data/canteras_microbiome/dada2_canteras_18s
data/canteras_microbiome/dada2_canteras_16s/*
data/canteras_microbiome/dada2_canteras_18s/*
!data/canteras_microbiome/dada2_canteras_16s/data
!data/canteras_microbiome/dada2_canteras_18s/data
data/canteras_microbiome/dada2_canteras_16s/data/*
data/canteras_microbiome/dada2_canteras_18s/data/*
!data/canteras_microbiome/dada2_canteras_16s/data/dada2
!data/canteras_microbiome/dada2_canteras_18s/data/dada2
data/canteras_microbiome/dada2_canteras_16s/data/dada2/*
data/canteras_microbiome/dada2_canteras_18s/data/dada2/*
!data/canteras_microbiome/dada2_canteras_16s/data/dada2/04_decontam-and-filter
!data/canteras_microbiome/dada2_canteras_18s/data/dada2/04_decontam-and-filter